<div class="modal-header">
  <p class="modal-title">¿Seguro que desea realizar esta acción?</p>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Close click')">Cancelar</button>
  <button type="button" class="btn btn-primary" (click)="activeModal.close('Close click')">Aceptar</button>
</div>