<div class="bg-breadcrumb">
  <div class="p-3">
    <div class="text-right" style="color: white; font-size: 14px; font-weight: 700; cursor: pointer">
      > Reportes
    </div>
  </div>
</div>
<div style="margin: 20px;">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Productos vendidos del dia">
      <ng-template ngbPanelContent>
        <div class="text-right">
          <button type="button" class="btn btn-primary" (click)="descargarReporte('rptProductosVendidos')"><i class="material-icons margen-0" style="font-size: 12px;">picture_as_pdf</i> Generar</button>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Pedidos por entregar">
      <ng-template ngbPanelContent>
        <div class="text-right">
          <button type="button" class="btn btn-primary" (click)="descargarReporte('rptPedidosPorEntregar')"><i class="material-icons margen-0" style="font-size: 12px;">picture_as_pdf</i> Generar</button>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Pedidos entregados">
      <ng-template ngbPanelContent>
        <div class="form-row">
          <div class="form-group col col-md-6">
            <label class="col-form-label">Desde:</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                     name="dp" [(ngModel)]="inicio" ngbDatepicker #d="ngbDatepicker">
              <button class="input-group-addon" (click)="d.toggle()" type="button">
                <i class="material-icons margen-0">date_range</i>
              </button>
            </div>
          </div>
          <div class="form-group col col-md-6">
            <label class="col-form-label">Hasta: </label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                     name="dp1" [(ngModel)]="fin" ngbDatepicker #d1="ngbDatepicker">
              <button class="input-group-addon" (click)="d1.toggle()" type="button">
                <i class="material-icons margen-0">date_range</i>
              </button>
            </div>
          </div>
        </div>
        <div class="text-right">
          <button type="button" class="btn btn-primary" (click)="descargarReporte('rptPedidosEntregados')"><i class="material-icons margen-0" style="font-size: 12px;">picture_as_pdf</i> Generar</button>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
<div class="row justify-content-end">
  <a href="" id="exelDownload" #exelDownload></a>
</div>
