<div class="d-flex flex-column" style="height: 100%;">
  <div>
    <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light" style="font-size: 13px;">
      <a class="navbar-brand cursor-pointer" style="font-family: CursivaMario" routerLink="/menu">
        <img src="assets/home.ico" alt="limatambo"> &ensp;Lima
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNav()">
        <i class="material-icons cursor-pointer">menu</i>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarContent" [ngClass]="{'display-block': collapseNav}">
        <ul class="navbar-nav">
          <li class="nav-item" *ngIf="!authService.hayToken()">
            <a class="nav-link cursor-pointer color-auth-btn" style="text-align: center" (click)="open()">
              <i class="material-icons" style="font-size: 18px!important;">account_circle</i> INGRESAR</a>
          </li>
        </ul>
        <ul class="navbar-nav" *ngFor="let menu of authService.getMenus()">
          <li class="nav-item" *ngIf="authService.hayToken()">
            <a class="nav-link cursor-pointer color-auth-btn" (click)="navegar(menu.url)" style="text-align: center">
              <i class="material-icons" style="font-size: 15px!important;">{{menu.icono}}</i> {{menu.nombre}}
            </a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item" *ngIf="authService.hayToken()">
            <a class="nav-link cursor-pointer color-auth-btn" style="text-align: center">
              <i class="material-icons" style="font-size: 15px!important;">person</i> {{authService.getUserName()}}
            </a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item" *ngIf="authService.hayToken()">
            <a class="nav-link cursor-pointer color-auth-btn" style="text-align: center" (click)="salir()">
              <i class="material-icons">power_settings_new</i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div style="flex-grow: 1;" >
    <router-outlet></router-outlet>
  </div>
</div>
