<div class="container text-center" *ngIf="authService.hayToken()">
  <div class="pt-4 text-center">
    <div class="row">
      <div class="col-md-4 col-xs-4">
      </div>
      <div class="col-md-4 col-xs-4 cursor-pointer ">
        <img src="assets/venta6.png" alt="ventas" style="width: 200px; height: 100px;" routerLink="/pedidos">
        <h2 style="font-family: CursivaMario">Ventas</h2>
      </div>
      <div class="col-md-4 col-xs-4">
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-4 col-xs-4">
      </div>
      <div class="col-md-4 col-xs-4 cursor-pointer ">
        <img src="assets/almacen1.png" alt="alamcen" style="width: 200px; height: 100px;" routerLink="/reportes">
        <h2 style="font-family: CursivaMario">Almacen</h2>
      </div>
      <div class="col-md-4 col-xs-4">
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-4 col-xs-4"></div>
      <div class="col-md-4 col-xs-4 cursor-pointer ">
        <img src="assets/distribucion.png" alt="distribucion" style="width: 200px; height: 100px;" routerLink="/pedidos">
        <h2 style="font-family: CursivaMario">Distribucion</h2>
      </div>
      <div class="col-md-4 col-xs-4"></div>
    </div>


  </div>
</div>
