<div *ngIf="!isModal" class="bg-breadcrumb">
  <div class="p-3">
    <div class="text-right" style="color: white; font-size: 14px; font-weight: 700; cursor: pointer">
      > Clientes
    </div>
  </div>
</div>
<div style="margin: 20px;">
  <div class="modal-header card-bonito" style="padding: 10px!important;">
    <h5 class="modal-title" *ngIf="!vistaFormulario">Clientes</h5>
    <h5 class="modal-title" *ngIf="vistaFormulario">Agregar Cliente</h5>
    <button *ngIf="isModal" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body card-bonito">
    <div class="row justify-content-center" *ngIf="solicitando">
      <div class="col col-auto">
        <p class="text-primary text-center">Cargando...</p>
        <app-cargando></app-cargando>
      </div>
    </div>

    <div class="form-row" *ngIf="!vistaFormulario && !solicitando">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Ingrese nombre">
        <input type="text" class="form-control" placeholder="Ingrese dni" [(ngModel)]="numdoc">
        <button type="button" class="input-group-addon cursor-pointer" (click)="busqueda()"><i class="material-icons">search</i></button>
        <button type="button" class="input-group-addon cursor-pointer" (click)="nuevoCliente()"><i class="material-icons">add_circle</i> Nuevo</button>
      </div>
    </div>

    <div *ngIf="!vistaFormulario && !solicitando">
      <br>
      <div class="row">
        <div class="col table-responsive">
          <table class="table table-sigro table-hover">
            <thead class="thead-inverse">
            <tr>
              <th>Tipo Doc.</th>
              <th>Numero Doc.</th>
              <th>Nombre</th>
              <th style="width:30px;">Opciones</th>
            </tr>
            </thead>
            <tbody>
              <tr class="cursor-pointer" (click)="activeModal.dismiss(cliente)" *ngFor="let cliente of clientes">
                <td>{{cliente.idpersona.idtipodocumento.abreviatura}}</td>
                <td>{{cliente.idpersona.numdocumento}}</td>
                <td>{{cliente.idpersona.nombrecompleto}}</td>
                <td style="padding-top: 0px; padding-bottom: 0px;">
                  <i *ngIf="!isModal" class="material-icons md-48 cursor-pointer text-danger" title="eliminar" (click)="confirmarEliminacion(cliente)">delete</i>
                  <i class="material-icons md-48 cursor-pointer text-primary" title="editar" (click)="editarCliente(cliente.id)">create</i>
                  <i *ngIf="isModal" class="material-icons md-48 cursor-pointer text-primary" title="elegir">add_circle_outline</i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row align-items-center mb-3">
        <div class="col">
          <p class="card-text text-secondary"><small>Mostrando {{paginacion.paginaActual}} de {{paginacion.totalPaginas}} páginas.</small></p>
        </div>
        <div class="text-right padding-right-15">
          <ngb-pagination style="margin-bottom: 0px;" class="ngb-pagination-sigro" [collectionSize]="paginacion.totalRegistros" [(page)]="page" [maxSize]="1" [boundaryLinks]="true" (pageChange)="traerClientes()"></ngb-pagination>
        </div>
      </div>
    </div>

    <form #clienteForm="ngForm" *ngIf="vistaFormulario && !solicitando">
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="tipoDocs" class="col-form-label">Sexo </label>
          <select class="form-control" id="sexo" name="sexo" [(ngModel)]="cliente.sexo">
            <option *ngFor="let sexo of sexos" [ngValue]="sexo.id">
              {{ sexo.nombre }}
            </option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="tipoDocs" class="col-form-label">Tipo de documento <span class="text-primary">*</span></label>
          <select class="form-control" id="tipoDocs" name="tipoDocs" [(ngModel)]="cliente.idpersona.idtipodocumento.id" required>
            <option *ngFor="let tipo of tipoDocs" [ngValue]="tipo.id">
              {{ tipo.abreviatura }}
            </option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label class="col-form-label">Numero de documento <span class="text-primary">*</span> </label>
          <input type="number" id="numdocumento"  name="numdocumento" class="form-control" placeholder="¿Cual es el numero de documento?" [(ngModel)]="cliente.idpersona.numdocumento"
                 min="0" max="99999999999" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="col-form-label">Nombre <span class="text-primary">*</span></label>
          <input type="text" class="form-control" id="nombre" name="nombre" placeholder="¿Cual es el nombre?" [(ngModel)]="cliente.idpersona.nombre" maxlength="30" required>
        </div>
        <div class="form-group col-md-6">
          <label class="col-form-label">Apellidos</label>
          <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="¿Cuales son los apellidos?" [(ngModel)]="cliente.idpersona.apellidos" maxlength="30">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="col-form-label">Telefono <span class="text-primary">*</span></label>
          <input type="tel" class="form-control" id="telefono" name="telefono" placeholder="¿Cual es el numero de telefono?" [(ngModel)]="cliente.telefono" maxlength="15">
        </div>
        <div class="form-group col-md-6">
          <label class="col-form-label">Celular <span class="text-primary">*</span> </label>
          <input type="tel" class="form-control" id="celular" name="celular" placeholder="¿Cuales es el numero de celular?" [(ngModel)]="cliente.celular" maxlength="15">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="distritos" class="col-form-label">Distrito </label>
          <select class="form-control" id="distritos" name="distritos" [(ngModel)]="distritoSelect" (change)="traerUbigeos('centro', distritoSelect)" required>
            <option *ngFor="let distrito of distritos" [ngValue]="distrito.id">
              {{ distrito.nombre }}
            </option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="centro" class="col-form-label">Centro Poblado <span class="text-primary">*</span></label>
          <select class="form-control" id="centro" name="centro" [(ngModel)]="cliente.idpersona.idubigeo.id" required>
            <option *ngFor="let centro of centros" [ngValue]="centro.id">
              {{ centro.nombre }}
            </option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label class="col-form-label">Referencia <span class="text-primary">*</span> </label>
          <input type="text" id="referencia"  name="referencia" class="form-control" placeholder="¿Cual es la referencia?" [(ngModel)]="cliente.idpersona.referencia"
                 required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label class="col-form-label">Direccion especifica</label>
          <input places-auto-complete (place_changed)="placeChanged($event)" [types]="['geocode']" type="text"
                 class="form-control" id="dir" name="dir" placeholder="¿Cual es el direccion?" [(ngModel)]="cliente.idpersona.direccion"/>
        </div>
      </div>
      <p>
        place: {{address | json}}
        <ngui-map [center]="center"
                  [fullscreenControl]="true"
                  (click)="log($event, 'place_change')"
                  [scrollwheel]="false">
          <marker [position]="center"
                  [geoFallbackPosition]="center"
                  (dragstart)="log($event, 'dragstart')"
                  (dragend)="log($event, 'dragend')"
                  draggable="true"></marker>
        </ngui-map>

      </p>
      <br>
      <div style="text-align: right">
        <button type="submit" class="btn btn-primary" [disabled]="!clienteForm.form.valid" (click)="onSubmit()" *ngIf="!cliente.id">Guardar</button>
        <button type="submit" class="btn btn-primary" [disabled]="!clienteForm.form.valid" (click)="onSubmit()" *ngIf="cliente.id">Actualizar</button>
        <button type="button" class="btn btn-outline-dark" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
